:root {
    --sl-content-width: 55rem;

    --sl-text-h1: var(--sl-text-3xl);
    --sl-text-h2: var(--sl-text-2xl);
    --sl-text-h3: var(--sl-text-xl);
    --sl-text-h4: var(--sl-text-lg);

    --sl-color-bg-sidebar: red; /*var(--sl-color-gray-6);*/
}

.sl-markdown-content img {
    max-width: 450px;
    margin: auto;
}

#starlight__sidebar {
    --sl-color-bg-sidebar: var(--sl-color-gray-7);
}

#starlight__sidebar span.large {
    font-weight: 500;
}

#starlight__sidebar a[aria-current='page'] {
    font-weight: 400;
}